{% extends "admin/base.html" %}
{% load static %}
{% block content %}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                Статистика </h1>

        </section>

        <section class="content">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <h2 class="page-header">В вашем обслуживании</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="small-box bg-primary">
                        <div class="inner">
                            <h3>{{ houses.count }}</h3>
                            <p>Домов</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-building"></i>
                        </div>
                        <a href="{% url 'houses_list' %}" class="small-box-footer">
                            Перейти в дома <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3>{{ owners.count }}</h3>
                            <p>Активных владельцев</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-users"></i>
                        </div>
                        <a href="{% url 'owners_list' %}" class="small-box-footer">
                            Перейти к владельцам <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="small-box bg-yellow">
                        <div class="inner">
                            <h3>{{ requests.count }}</h3>
                            <p>Заявок мастера в работе</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-wrench"></i>
                        </div>
                        <a href="{% url 'requests_list' %}" class="small-box-footer">
                            Перейти в заявки <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="small-box bg-primary">
                        <div class="inner">
                            <h3>{{ apartments.count }}</h3>
                            <p>Квартир</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-key"></i>
                        </div>
                        <a href="{% url 'apartments_list' %}" class="small-box-footer">
                            Перейти в квартиры <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3>{{ accounts.count }}</h3>
                            <p>Лицевых счетов</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-child"></i>
                        </div>
                        <a href="{% url 'accounts_list' %}" class="small-box-footer">
                            Перейти к счетам <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="small-box bg-yellow">
                        <div class="inner">
                            <h3>{{ requests_new.count }}</h3>
                            <p>Новых заявок мастера</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-user-plus"></i>
                        </div>
                        <a href="{% url 'requests_list' %}" class="small-box-footer">
                            Перейти в заявки <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-7 col-xs-12">
                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title">График погашения квитанций, грн</h3>
                        </div>
                        <div class="box-body">
                            <div class="chart">
                                <canvas id="barChart" style="height: 201px;"></canvas>
                                <div id="barChart-legend" class="text-center">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-5 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-red"><i class="fa fa-money"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Задолженность по счетам, грн</span>
                            <span class="info-box-number">{% if debt %}{{ debt }}{% else %}0,00{% endif %} грн</span>
                        </div>
                    </div>
                    <div class="info-box">
                        <span class="info-box-icon bg-blue"><i class="fa fa-money"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Баланс по счетам, грн</span>
                            <span class="info-box-number">{% if balance %}{{ balance }}{% else %}
                                0,00{% endif %} грн</span>
                        </div>
                    </div>
                    <div class="info-box">
                        <span class="info-box-icon bg-green"><i class="fa fa-money"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Состояние кассы, грн</span>
                            <span class="info-box-number">{% if cashbox %}{{ cashbox }}{% else %}
                                0,00{% endif %} грн</span>
                        </div>
                    </div>
                    <!--        <div class="info-box">
                                <span class="info-box-icon bg-green"><i class="fa fa-cog"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Задолженность за месяц, грн</span>
                                    <span class="info-box-number">0.00</span>
                                </div>
                            </div>
                            <div class="info-box">
                                <span class="info-box-icon bg-aqua"><i class="fa fa-cog"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Задолженность за квартал, грн</span>
                                    <span class="info-box-number">70 880.50</span>
                                </div>
                            </div>-->
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title">График приходов и расходов по кассе, грн</h3>
                        </div>
                        <div class="box-body">
                            <div class="chart">
                                <canvas id="barChart2" style="height: 230px;"></canvas>
                                <div id="barChart2-legend" class="text-center"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


{% endblock %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>

var config = {
    type: 'bar',
    data: {
        datasets: [{
            data: [{% for sum in list_debts_by_month %}{{ sum }}, {% endfor %}],
            backgroundColor: [
            '#ff0000', '#fd3232', '#ff6666', '#fda0a0', '#D3D3D3'
          ],
            label: 'Задолженность'
        }, {
            data: [{% for sum in list_incomes_by_month %}{{ sum }}, {% endfor %}],
            backgroundColor: [
            '#0030fa', '#2f53f3', '#607af5', '#a6b4f6', '#D3D3D3'
          ],
            label: 'Погашение задолженности'
        }],
        labels: ["\u044f\u043d\u0432., 2023","\u0444\u0435\u0432\u0440., 2023","\u043c\u0430\u0440\u0442, 2023","\u0430\u043f\u0440., 2023","\u043c\u0430\u0439, 2023","\u0438\u044e\u043d\u044c, 2023","\u0438\u044e\u043b\u044c, 2023","\u0430\u0432\u0433., 2023","\u0441\u0435\u043d\u0442., 2023","\u043e\u043a\u0442., 2023","\u043d\u043e\u044f\u0431., 2023","\u0434\u0435\u043a., 2023"]
    },
    options: {
        responsive: true
    }
};
var config2 = {
    type: 'bar',
    data: {
        datasets: [{
            data: [{% for sum in list_incomes_by_month %}{{ sum }}, {% endfor %}],
            backgroundColor: [
            '#0030fa', '#2f53f3', '#607af5', '#a6b4f6', '#D3D3D3'
          ],
            label: 'Приход'
        }, {
            data: [{% for sum in list_expenses_by_month %}{{ sum }}, {% endfor %}],
            backgroundColor: [
            '#ff0000', '#fd3232', '#ff6666', '#fda0a0', '#D3D3D3'
          ],

            label: 'Расход'
        }],
        labels: ["\u044f\u043d\u0432., 2023","\u0444\u0435\u0432\u0440., 2023","\u043c\u0430\u0440\u0442, 2023","\u0430\u043f\u0440., 2023","\u043c\u0430\u0439, 2023","\u0438\u044e\u043d\u044c, 2023","\u0438\u044e\u043b\u044c, 2023","\u0430\u0432\u0433., 2023","\u0441\u0435\u043d\u0442., 2023","\u043e\u043a\u0442., 2023","\u043d\u043e\u044f\u0431., 2023","\u0434\u0435\u043a., 2023"]
    },
    options: {
        responsive: true
    }
};

window.onload = function () {
    var ctx = document.getElementById('barChart').getContext('2d');
    var ctx2 = document.getElementById('barChart2').getContext('2d');
    window.myBar1 = new Chart(ctx, config);
    window.myBar2 = new Chart(ctx2, config2);
};
    </script>
{% endblock %}