{% extends "admin/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
    <style>

    </style>
    <link href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" rel="stylesheet">

    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                Новая квитанция </h1>

            <ul class="breadcrumb">
                <li><a href="{% url 'admin' %}"><i class="fa fa-home"></i> Главная</a></li>
                <li><a href="{% url 'invoices_list' %}">Квитанции</a></li>
                <li class="active">Новая квитанция</li>
            </ul>
        </section>

        <section class="content">
            <div class="invoice-create">


                <form id="form" method="post">
                    {% if messages %}{% for message in messages %} <p>{{ message }}</p> {% endfor %}{% endif %}
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-xs-12 col-md-7 col-lg-6">
                            <div class="page-header-spec">
                                <div class="form-group field-invoice-uid required">
                                    <div class="input-group">

                                        <div class="input-group-addon">
                                            №
                                        </div>
                                        {{ form.errors }}
                                        {{ form.number }}
                                    </div>
                                </div>
                                <span class="label-mid">от</span>
                                <div class="form-group field-invoice-uid_date">
                                    <div id="invoice-date" class="input-group  date"><span
                                            class="input-group-addon" title="Выбрать дату"><i
                                            class="glyphicon glyphicon-calendar"></i></span>
                                        {{ form.date }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-5 col-lg-6">
                            <div class="pull-right">
                                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    Выберите действие <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#" class="set-tariff-services">Выставить все услуги согласно
                                        тарифу</a></li>
                                    <li><a href="#" id="add-counters">Добавить показания счетчиков</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="box-body">
                            <input type="hidden" id="invoice" name="invoice">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        <label for="house">Дом</label>
                                        {{ form.houses }}
                                    </div>
                                    <div class="form-group">
                                        <label for="section">Секция</label>
                                        {{ form.section }}
                                    </div>
                                    <div class="form-group field-invoice-flat_id required">
                                        <label class="control-label" for="apartment">Квартира</label>
                                        {{ form.apartment }}

                                        <div class="help-block"></div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group field-invoice-is_checked">
                                        <label>{{ form.done }} Проведена</label>


                                        <div class="help-block"></div>
                                    </div>
                                    <div class="form-group field-invoice-status required">
                                        <label class="control-label" for="invoice-status">Статус</label>
                                        <select id="status" class="form-control" name="status"
                                                aria-required="true">
                                            <option value="">Выберите...</option>
                                            <option value="paid">Оплачена</option>
                                            <option value="piece">Частично оплачена</option>
                                            <option value="unpaid" selected>Неоплачена</option>
                                        </select>

                                        <div class="help-block"></div>
                                    </div>
                                    <div class="form-group field-invoice-tariff_id required">
                                        <label class="control-label" for="tariff">Тариф</label>
                                        {{ form.tariff }}

                                        <div class="help-block"></div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="form-group field-invoice-period_start">
                                                <label class="control-label" for="invoice-period_start">Период с</label>
                                                <div id="invoice-period_start-kvdate" class="input-group  date"><span
                                                        class="input-group-addon kv-date-calendar" title="Выбрать дату"><i
                                                        class="glyphicon glyphicon-calendar"></i></span>
                                                    {{ form.date_from }}
                                                </div>

                                                <div class="help-block"></div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="form-group field-invoice-period_end">
                                                <label class="control-label" for="invoice-period_end">Период по</label>
                                                <div id="invoice-period_end-kvdate" class="input-group  date"><span
                                                        class="input-group-addon kv-date-calendar" title="Выбрать дату"><i
                                                        class="glyphicon glyphicon-calendar"></i></span>
                                                    {{ form.date_before }}
                                                </div>

                                                <div class="help-block"></div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        <label for="account">Лицевой счет</label>
                                        {{ form.account }}

                                    </div>

                                    <p><b>Владелец:</b> {% if form.instance.apartment.owner %}
                                        <span id="name">{{ form.instance.apartment.owner }}</span></p>{% else %}
                                        <span id="name">не выбран</span></p>{% endif %}
                                    <p><b>Телефон:</b> {% if form.instance.apartment.owner.telephone %}
                                        <span id="telephone">{{ form.instance.apartment.owner.telephone }}</span>
                                        </p>{% else %}<span id="telephone">не выбран</span></p>{% endif %}
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                </div>
                            </div>
                            <div class="table-responsive no-padding">

                                {{ formset.management_form }}
                                <table id="service_form"

                                       class="table table-bordered table-hover">

                                    <thead>
                                    <tr>

                                        <th style="min-width: 200px;">Услуга</th>
                                        <!--<th style="min-width: 180px;">Показания</th>-->
                                        <th style="min-width: 180px;">Расход</th>
                                        <th style="min-width: 120px;">Ед. изм.</th>
                                        <th style="min-width: 180px;">Цена за ед., грн.</th>
                                        <th style="min-width: 180px;">Стоимость, грн.</th>
                                        <th style="width: 40px; min-width: 40px;"></th>

                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% for form in formset %}


                                        <tr id="{{ form.prefix }}-form">
                                            {{ form.id }}
                                            <td>{{ form.service }}</td>
                                            <td>{{ form.expense }}</td>
                                            <td>{{ form.unit }}</td>
                                            <td>{{ form.cost_for_unit }}</td>
                                            <td>{{ form.full_cost }}</td>
                                            <td>
                                                <div class="btn-group pull-right">
                                                    <button onclick="delete_service(this.id)" id="{{ form.prefix }}"
                                                            type="button"
                                                            class="btn btn-default btn-sm form-row-remove-btn"><i
                                                            class="fa fa-trash"></i></button>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="4" valing="middle">
                                            <button id="add-service" type="button" class="btn btn-default">
                                                Добавить услугу
                                            </button>
                                            <button type="button" class="btn btn-default set-tariff-services">
                                                Установить все услуги согласно тарифу
                                            </button>
                                            <button type="button" class="btn btn-default add-meters">
                                                Добавить показания счетчиков
                                            </button>
                                        </td>
                                        <td style="min-width: 180px;">
                                            <div class="h4">
                                                Итого: <b><span
                                                    id="current_amount">{{ form.instance.amount }}</span></b> грн
                                                <input hidden type="number" id="amount" name="amount" value="0">
                                            </div>
                                        </td>
                                    </tr>
                                    </tfoot>

                                </table>
                            </div>
                            <div class="delete-list"></div>

                            <table id="test" style="display: none">
                                <tbody id="empty_form-service">

                                <tr id="{{ formset.empty_form.prefix }}-form">
                                    {{ formset.empty_form.id }}
                                    <td>{{ formset.empty_form.service }}</td>
                                    <td>{{ formset.empty_form.expense }}</td>
                                    <td>{{ formset.empty_form.unit }}</td>
                                    <td>{{ formset.empty_form.cost_for_unit }}</td>
                                    <td>{{ formset.empty_form.full_cost }}</td>
                                    <td>
                                        <div class="btn-group pull-right">

                                            <button onclick="delete_service(this.id)"
                                                    id="{{ formset.empty_form.prefix }}" type="button"
                                                    class="btn btn-default btn-sm form-row-remove-btn"
                                                    title="Удалить услугу"><i class="fa fa-trash"></i></button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <div class="row">
                                <div class="col-xs-12 text-right">
                                    <div class="form-group">
                                        <a href="{% url 'invoices_list' %}" class="btn btn-default">Отменить</a>
                                        <button type="submit" class="btn btn-success">Сохранить</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">Показания счетчиков</h3>
                            </div>

                            <div id="counters" data-pjax-container="" data-pjax-push-state data-pjax-timeout="1000">
                                <div id="w0" class="grid-view">
                                    <div class="box-body table-responsive no-padding">
                                        <table id="table"
                                               class="table table-bordered table-hover table-striped table-nowrap">
                                            <thead>
                                            <tr>
                                                <th style="width: 125px; min-width: 125px">№</th>
                                                <th>Статус</th>
                                                <th style="width: 125px; min-width: 125px">Дата</th>
                                                <th style="width: 125px; min-width: 125px">Месяц</th>
                                                <th style="min-width: 200px">Дом</th>
                                                <th style="min-width: 160px">Секция</th>
                                                <th style="width: 110px; min-width: 110px">№ квартиры</th>
                                                <th>Счетчик</th>
                                                <th style="width: 90px; min-width: 90px">Показания</th>
                                                <th style="width: 90px; min-width: 90px">Ед. изм.</th>
                                            </tr>
                                            <tr id="w0-filters" class="filter-hidden">
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td><input type="hidden" id="filterMonthYear"
                                                           name="CounterDataSearch[searchUidMonthYear]"><input
                                                        type="hidden" id="filterFlatId"
                                                        name="CounterDataSearch[flat_id]"></td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for inv in meters %}
                                                <tr>
                                                    <td>{{ inv.number }}</td>
                                                    <td><small
                                                            class="label label-warning">{{ inv.get_status_display }}</small>
                                                    </td>
                                                    <td>{{ inv.date.day }}</td>
                                                    <td>{{ inv.date.month }}</td>
                                                    <td>{{ inv.apartment.house }}</td>
                                                    <td>{{ inv.apartment.section }}</td>
                                                    <td>{{ inv.apartment }}</td>
                                                    <td>{{ inv.meter }}</td>
                                                    <td style="background-color: #DFD5; font-weight: normal">{{ inv.expense }}</td>
                                                    <td style="background-color: #DFD5; font-weight: normal">{{ inv.meter.unit }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="box-footer clearfix">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </section>
    </div>

{% endblock %}

{% block script %}
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#id_tariff').change(function () {
                $('.set-tariff-services').val($(this).val())
            })
            $('.set-tariff-services').click(function () {
                $.ajax({
                    url: '{% url 'tariff_set' %}',
                    type: 'GET',
                    data: {tariff_id: $(this).val()},
                    success: function (data) {
                        console.log(data)
                        $('#service_form').children('tbody').remove()
                        $('#id_formset-TOTAL_FORMS').val('0')


                        $.each(data.data, function (index, item) {
                            let form_idx = $('#id_formset-TOTAL_FORMS').val();
                            $('#service_form').append($('#empty_form-service').html().replace(/__prefix__/g, form_idx));
                            $('#id_formset-TOTAL_FORMS').val(parseInt(form_idx) + 1);
                        });
                        // заполнение полей форм данными из списка
                        $.each(data.data, function (index, item) {
                            let form_idx = index;

                            $('#id_formset-' + form_idx + '-service').val(item['id']);
                            $('#id_formset-' + form_idx + '-unit').val(item['unit']);
                            $('#id_formset-' + form_idx + '-cost_for_unit').val(item['price']);
                        });
                    },
                    error: (data) => {
                        console.log('xxxmmxmmmmm')
                    }

                });
            })

            $('#id_houses').change(function () {
                $.ajax({
                    url: '{% url 'select_account' %}',
                    type: 'GET',
                    data: {house_field: $(this).val()},
                    success: function (data) {
                        // Очистить выбор в другом поле
                        $('#id_section').empty()
                        $('#id_apartment').empty()
                        // Заполнить другое поле данными, полученными с сервера
                        $("#id_section").append("<option value selected>Выберите...</option>")
                        $.each(data.section_data, function (key, value) {

                            $('#id_section')
                                .append($("<option value=" + value.id + ">" + value.name + "</option>"));
                        });
                        $("#id_apartment").append("<option value selected>Выберите...</option>")
                        $.each(data.apartment_data, function (key, value) {
                            $('#id_apartment')
                                .append($("<option value=" + value.id + ">" + value.number + "</option>"));
                        });


                    },
                    error: (data) => {
                        $('#id_section').empty()
                        $('#id_apartment').empty()
                        $('#name').empty()
                        $('#name').text('не выбран')
                        $('#telephone').empty()
                        $('#telephone').text('не выбран')
                        $("#id_section").append("<option value selected>Выберите...</option>")
                        $("#id_apartment").append("<option value selected>Выберите...</option>")
                    }

                });
            });
        });
        $(document).ready(function () {
            $('#id_section').change(function () {
                $.ajax({
                    url: '{% url 'select_account' %}',
                    type: 'GET',
                    data: {section_field: $(this).val()},
                    success: function (data) {
                        // Очистить выбор в другом поле
                        $('#id_apartment').empty()
                        // Заполнить другое поле данными, полученными с сервера
                        $("#id_apartment").append("<option value selected>Выберите...</option>")
                        $.each(data.apartment_data, function (key, value) {
                            $('#id_apartment')
                                .append($("<option value=" + value.id + ">" + value.number + "</option>"));
                        });

                    }
                });
            });
        });

        $(document).ready(function () {
            if (window.location.search.split('=')[1]) {

                $.ajax({
                    url: '{% url 'select_account' %}',
                    type: 'GET',
                    data: {account_field: window.location.search.split('=')[1]},
                    success: function (data) {
                        console.log(data.owners_data)
                        console.log(data.meters)
                        // Очистить выбор в другом поле
                        $('#name').empty()
                        // Заполнить другое поле данными, полученными с сервера

                        $('#name').append($('<a href="/admin/owner/' + data.owners_data.id + '">' + data.owners_data.first + ' ' + data.owners_data.last + '</a>'));
                        $('#telephone').empty()
                        // Заполнить другое поле данными, полученными с сервера

                        $('#telephone').append($(' <a href="tel:' + data.owners_data.telephone + '">' + data.owners_data.telephone + '</a>'));

                        $('#id_account').empty()
                        // Заполнить другое поле данными, полученными с сервера

                        $('#id_account').val(data.owners_data.account).text(data.owners_data.account_id);
                        $('#id_houses').empty()
                        $('#id_houses')
                            .append($("<option value=" + data.owners_data.house_id + ">" + data.owners_data.house + "</option>"));
                        $('#id_section').empty()
                        $('#id_section')
                            .append($("<option value=" + data.owners_data.section_id + ">" + data.owners_data.section + "</option>"));
                        $('#id_apartment').empty()
                        $('#id_apartment')
                            .append($("<option value=" + data.owners_data.apartment_id + ">" + data.owners_data.apartment + "</option>"));

                        // Заполнить другое поле данными, полученными с сервера


                        // Заполнить другое поле данными, полученными с сервера

                        $('#id_tariff').val(data.owners_data.tariff_id);


                    },

                });


            }
            $('#id_apartment').change(function () {
                $.ajax({
                    url: '{% url 'select_account' %}',
                    type: 'GET',
                    data: {apartment_field: $(this).val()},
                    success: function (data) {
                        console.log(data.owners_data)
                        console.log(data.meters)
                        // Очистить выбор в другом поле
                        $('#name').empty()
                        // Заполнить другое поле данными, полученными с сервера

                        $('#name').append($('<a href="/admin/owner/' + data.owners_data.id + '">' + data.owners_data.first + ' ' + data.owners_data.last + '</a>'));
                        $('#telephone').empty()
                        // Заполнить другое поле данными, полученными с сервера

                        $('#telephone').append($(' <a href="tel:' + data.owners_data.telephone + '">' + data.owners_data.telephone + '</a>'));

                        $('#id_account').empty()
                        // Заполнить другое поле данными, полученными с сервера

                        $('#id_account').val(data.owners_data.account).text(data.owners_data.account_id);


                        // Заполнить другое поле данными, полученными с сервера

                        $('#id_tariff').val(data.owners_data.tariff_id);


                    },

                });

            });
        });


        $(document).ready(function () {
            var table = $('#table').DataTable({
                    "language": {
                        "sEmptyTable": "В таблице отсутствуют данные",
                        "sInfo": "Показаны записи с _START_ по _END_ из _TOTAL_ записей",
                        "sInfoEmpty": "Показаны записи с 0 по 0 из 0 записей",
                        "sInfoFiltered": "(отфильтровано из _MAX_ записей)",
                        "sInfoPostFix": "",
                        "sInfoThousands": ",",
                        "sLengthMenu": "Показать _MENU_ записей",
                        "sLoadingRecords": "Загрузка...",
                        "sProcessing": "Обработка...",
                        "sSearch": "Поиск:",
                        "sZeroRecords": "Совпадений не найдено",
                        "oPaginate": {
                            "sFirst": "Первая",
                            "sLast": "Последняя",
                            "sNext": "Следующая",
                            "sPrevious": "Предыдущая"
                        },
                        "oAria": {
                            "sSortAscending": ": активировать для сортировки столбца по возрастанию",
                            "sSortDescending": ": активировать для сортировки столбца по убыванию"
                        }
                    }
                }
            );
            $('#apartment').change(function () {
                var apartmentValue = $('#apartment option:selected').text();
                table.search(apartmentValue).draw();
            });
        });

        $('#add-service').click(function () {
            let form_idx = $('#id_formset-TOTAL_FORMS').val();
            $('#service_form').append($('#empty_form-service').html().replace(/__prefix__/g, form_idx));
            $('#id_formset-TOTAL_FORMS').val(parseInt(form_idx) + 1);
        })


        //delete SERVICE form
        function delete_service(index) {
            if (confirm('Удалить?')) {
                $('.delete-list-service').append('<input type="hidden" value="on" name="' + index + '-DELETE" id="id_' + index + '-DELETE">');
                $('#' + index + '-form').css('display', 'none');
            } else {
                return false
            }

        }

        function select_service(index) {
            let service_id = $('#' + index).val()
            console.log(service_id)
            $.ajax({
                url: '{% url "invoice_unit" %}',
                type: 'GET',
                data: {'service_id': service_id},
                success: (data) => {
                    console.log(data)
                    var unit = index.replace(/service/g, 'unit')
                    $('#' + unit).val(data.unit_data.unit).text(data.unit_data.unit_id);
                },
                error: (data) => {
                    console.log('no')
                }
            })
        }


        function select_expense(index) {
            var spl = index.split('-')[1]
            let selectedExpense = $('#id_formset-' + spl + '-expense').val();
            let selectedCost = $('#id_formset-' + spl + '-cost_for_unit').val();
            let result = selectedExpense * selectedCost;
            var full = 'id_formset-' + spl + '-full_cost'
            $('#' + full).val(result);
            current_amount();


        }

        function select_cost(index) {

            var spl = index.split('-')[1]
            select_expense(index)
            current_amount();
        }

        function current_amount() {
            let sum = 0;
            $("input.full-cost").each(function () {
                sum += +($(this).val());
            });
            $('#current_amount').html(sum)
            $('#amount').attr('value', sum)
        }

        $('.id_date').daterangepicker({
            singleDatePicker: true,
            default: 'date',
            opens: 'center',
            autoUpdateInput: false,
            onClose: function () {
                $(this).valid();
            },
            locale: {
                format: 'DD.MM.YYYY',
                "applyLabel": "Ок",
                "cancelLabel": "Отмена",
                "fromLabel": "От",
                "toLabel": "До",
                "customRangeLabel": "Произвольный",
                "daysOfWeek": [
                    "Вс",
                    "Пн",
                    "Вт",
                    "Ср",
                    "Чт",
                    "Пт",
                    "Сб"
                ],
                "monthNames": [
                    "Январь",
                    "Февраль",
                    "Март",
                    "Апрель",
                    "Май",
                    "Июнь",
                    "Июль",
                    "Август",
                    "Сентябрь",
                    "Октябрь",
                    "Ноябрь",
                    "Декабрь"
                ],
                firstDay: 1
            }
        });
        $('.id_date').on('apply.daterangepicker', function (ev, picker) {
            $(this).val(picker.startDate.format('DD.MM.YYYY'));
        });
        $('.id_date').on('cancel.daterangepicker', function (ev, picker) {
            $(this).val('');
        });


    </script>
{% endblock %}
