{% extends "admin/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
    {#    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />#}
    {#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" />#}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap4.min.css"/>



    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                Сообщения </h1>

            <ul class="breadcrumb">
                <li><a href="{% url 'admin' %}"><i class="fa fa-home"></i> Главная</a></li>
                <li class="active">Сообщения</li>
            </ul>
        </section>

        <section class="content">

            <div class="row">
                <!--<div class="col-xs-12 col-sm-6">-->
                <!--<h2 class="page-header">Владельцы квартир</h2>-->
                <!--</div>-->
                <div class="col-xs-12">

                    <div class="pull-right margin-bottom">
                        <a class="btn btn-success" href="{% url 'message_create' %}">Отправить сообщение</a>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-body no-padding">

                    <div id="w0" class="grid-view">
                        <div class="mailbox-controls">
                            <button type="button" id="check" class="btn btn-default btn-sm checkbox-toggle"><i
                                    class="fa check-fa fa-square-o"></i></button>
                            <button type="button" class="btn btn-default btn-sm delete-many"><i
                                    class="fa fa-trash-o"></i></button>
                            <div class="pull-right"></div>
                        </div>

                        <div class="table-responsive mailbox-messages">
                            <table id="table" class="table table-hover table-striped linkedRow">
                                <thead>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th style="min-width: 200px">Получатели</th>
                                    <th>Текст</th>
                                    <th style="width: 135px; min-width: 135px">Дата</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for message in message_list %}

                                    <tr>
                                        <td class="tr-link"><input type="checkbox" class="delete"
                                                                   value="{{ message.id }}"></td>
                                        <td>{% if message.owner %}
                                            <a href="{% url 'message_detail'  message.id %}">{{ message.owner }}</a>{% elif message.apartment %}
                                            <a href="{% url 'message_detail'  message.id %}">{{ message.house }} {{ message.section }} {{ message.floor }} {{ message.apartment }}</a>{% else %}
                                            <a href="{% url 'message_detail'  message.id %}">Всем...</a>{% endif %}</td>
                                        <td><b>{{ message.topic }}</b> - {{ message.text|striptags|truncatechars:20 }}</td>
                                        <td>{{ message.date.date }} - {{ message.date.time }}</td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>

                        <div class="mailbox-controls">
                            <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i
                                    class="fa check-fa fa-square-o"></i></button>
                            <button type="button" class="btn btn-default btn-sm delete-many"><i
                                    class="fa fa-trash-o"></i></button>
                            <div class="pull-right"></div>
                        </div>
                    </div>
                </div>

        </section>
    </div>
{% endblock %}

{% block script %}

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>

    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap4.min.js"></script>

    <script>
        $(function () {
            $("#table").DataTable({
                "responsive": false,
                "lengthChange": false,
                "autoWidth": true,
                "ordering": false,
                "bInfo": false,
                "language": {
                    "infoFiltered": "(Отфильтровано _MAX_ записей)",
                    "zeroRecords": "Записей не найдено",
                    "info": "Показано с _START_ по _END_ записей из _TOTAL_",
                    "infoEmpty": "Нет записей.",
                    "search": "Поиск:",
                    "paginate": {
                        "previous": "Предыдущая",
                        "last": "Последняя",
                        "next": "Следующая"
                    }
                }
            })
        });
        $('.delete-many').click(function () {
            let idx = ''
            let cells = $("#table").DataTable().column(0).nodes()
            for (let i = 0; i < cells.length; i += 1) {
                if (cells[i].querySelector("input[type='checkbox']").checked) {
                    idx += cells[i].querySelector("input[type='checkbox']").value + ' '
                }
            }
            $.ajax({
                url: '',
                type: 'GET',
                data: {'idx': idx},
                success: (data) => {
                    if (idx) {
                        document.location.reload();
                    }
                },
            })
        })
        $('.checkbox-toggle').click(function () {
            $('.check-fa').toggleClass('fa-square').toggleClass('fa-check-square')
            var cells = $("#table").DataTable().column(0).nodes() // Cells from 1st column

            for (var i = 0; i < cells.length; i += 1) {
                if ($('.check-fa').hasClass('fa-check-square')) {
                    cells[i].querySelector("input[type='checkbox']").checked = true;
                } else {
                    cells[i].querySelector("input[type='checkbox']").checked = false;
                }
            }
        })
        $('.delete-many').click(function () {
            let id = ''
            let cells = $("#table").DataTable().column(0).nodes()
            for (let i = 0; i < cells.length; i += 1) {
                if (cells[i].querySelector("input[type='checkbox']").checked) {
                    id += cells[i].querySelector("input[type='checkbox']").value + ' '
                }
            }
            $.ajax({
                url: '{% url "delete_selected_messages" %}',
                type: 'GET',
                data: {'id': id},
                success: (data) => {
                    if (id) {
                        document.location.reload();
                    }
                },
            })
        })
    </script>
{% endblock %}