{% extends "admin/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
    <link href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css"/>
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                {% if transfers.income %}
                    Приходная ведомость {% else %} Расходная ведомость {% endif %}</h1>

            <ul class="breadcrumb">
                <li><a href="{% url 'admin' %}"><i class="fa fa-home"></i> Главная</a></li>
                <li><a href="{% url 'transfers_list' %}">Платежи</a></li>
                <li class="active">{% if transfers.income %}
                    Приходная ведомость {% else %} Расходная ведомость {% endif %} №{{ transfers.number }}</li>
            </ul>
        </section>

        <section class="content">

            <div class="row">
                <div class="col-xs-12 col-md-7 col-lg-6">
                    <div class="page-header-spec">
                        <div class="form-group">
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    №
                                </div>
                                <div class="form-control pull-right">{{ transfers.number }}</div>
                            </div>
                        </div>
                        <span class="label-mid">от</span>
                        <div class="form-group">
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </div>
                                <div class="form-control pull-right">{{ transfers.date }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">{% if transfers.income %}Приходная ведомость{% else %}Расходная
                        ведомость{% endif %}</h3>
                    <div class="box-tools">
                        {% if transfers.income %}<a href="{% url 'transfer_create' transfers.id %}?type=income"
                           class="btn btn-default btn-sm">
                            <span class="hidden-xs">Копировать</span><i class="fa fa-print visible-xs"
                                                                        aria-hidden="true"></i>
                        </a>
                        {% else %}
                        <a href="{% url 'transfer_create' transfers.id %}?type=out"
                           class="btn btn-default btn-sm">
                            <span class="hidden-xs">Копировать</span><i class="fa fa-print visible-xs"
                                                                        aria-hidden="true"></i>
                        </a>
                        {% endif %}
                        <a href="{% url 'transfer_delete' transfers.id %}" class="btn btn-default btn-sm"
                           data-method="post" data-confirm="Вы уверены, что хотите удалить этот элемент?">
                            <span class="hidden-xs">Удалить</span><i class="fa fa-envelope-o visible-xs"
                                                                     aria-hidden="true"></i>
                        </a>
                        <a href="{% url 'transfer_update' transfers.id %}" class="btn btn-primary btn-sm">
                            <span class="hidden-xs">Редактировать ведомость</span><i class="fa fa-pencil visible-xs"
                                                                                     aria-hidden="true"></i>
                        </a>
                        <a href="#" class="btn btn-default btn-sm">
                            <span id="export" class="hidden-xs">Выгрузить в Excel</span><i class="fa fa-pencil visible-xs"
                                                                               aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="box-body">
                    <table id="TransferTable" class="table table-bordered table-striped table-view">
                        <thead class="hidden">
                        <tr>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Владелец квартиры</td>
                            <td>
                                {% if transfers.owner %} <a href="{% url 'owner_detail' transfers.owner.id %}">
                                    {{ transfers.owner }} </a>{% else %}не указано{% endif %}

                            </td>
                        </tr>
                        <tr>
                            <td>Лицевой счет</td>
                            <td>
                                {% if transfers.account %} <a href="{% url 'account_detail' transfers.account.id %}">
                                    {{ transfers.account.number }} </a>{% else %}не указано{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Статья</td>
                            <td> {% if transfers.item %}
                                {{ transfers.item }}{% else %}не указано{% endif %}</td>
                        </tr>
                        <tr>
                            <td>Квитанция</td>
                            <td>
                                не указано
                            </td>
                        </tr>
                        <tr>
                            <td>Услуга</td>
                            <td>
                                не указано
                            </td>
                        </tr>
                        <tr>
                            <td>Менеджер</td>
                            <td>
                                {% if transfers.manager %} <a href="{% url 'user_detail' transfers.manager.id %}">
                                    {{ transfers.manager }} </a>{% else %}не указано{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Сумма</td>
                            <td>
                                <span class="text-green">{% if transfers.amount %}
                                    {{ transfers.amount }}{% else %}не указано{% endif %}</td>
                            </span>
                            </td>
                        </tr>
                        <tr>
                            <td>Комментарий</td>
                            <td>{% if transfers.comment %}
                                {{ transfers.comment }}{% else %}не указано{% endif %}</td>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>

{% endblock %}

{% block script %}
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.print.min.js"></script>
    <script>
        $(document).ready(function () {
            $('head title').text('Приходная ведемость: ' + {{ transfers.number }});
            var table =$('#TransferTable').DataTable({
                paging: false,
                ordering: false,
                info: false,
                searching: false,
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'excelHtml5',
                    },
                ],


            });
            $('.buttons-excel').css('display', 'none')
            $('#export').on("click", function () {
                table.buttons('.buttons-excel').trigger('click');
            })
        });


    </script>
{% endblock %}

