{% extends "admin/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                Приходная ведомость </h1>

            <ul class="breadcrumb">
                <li><a href="{% url 'admin' %}"><i class="fa fa-home"></i> Главная</a></li>
                <li><a href="{% url 'transfers_list' %}">Платежи</a></li>
                <li><a href="{% url 'transfer_update' transfers.id %}">Приходная ведомость №{{ transfers.number }}</a>
                </li>
                <li class="active">Редактирование</li>
            </ul>
        </section>

        <section class="content">


            <form id="form" method="post">
                {% if messages %}{% for message in messages %} <p>{{ message }}</p> {% endfor %}{% endif %}
                {% csrf_token %}
                <div class="row">
                    <div class="col-xs-12 col-md-7 col-lg-6">
                        <div class="page-header-spec">
                            <div class="form-group field-accounttransaction-uid required">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        №
                                    </div>
                                    {{ form.number }}
                                </div>
                            </div>
                            <span class="label-mid">от</span>
                            <div class="form-group field-accounttransaction-uid_date required">
                                <div id="accounttransaction-uid_date-kvdate" class="input-group  date"><span
                                        class="input-group-addon kv-date-calendar" title="Выбрать дату"><i
                                        class="glyphicon glyphicon-calendar"></i></span>
                                    {{ form.date }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title"></h3>
                        <div class="box-tools">
                            <a href="{% url 'transfer_update' transfers.id %}?copy"
                               class="btn btn-default btn-sm">
                                <span class="hidden-xs">Копировать</span><i class="fa fa-print visible-xs"
                                                                            aria-hidden="true"></i>
                            </a>
                            <a href="{% url 'transfer_delete' transfers.id %}" class="btn btn-default btn-sm"
                               data-method="post" data-confirm="Вы уверены, что хотите удалить этот элемент?">
                                <span class="hidden-xs">Удалить</span><i class="fa fa-envelope-o visible-xs"
                                                                         aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <div class="box-body">

                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-sm-offset-6">
                                {{ form.completed }}<label for="completed">Проведен</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-6">

                                <div class="form-group">
                                    <label for="user_id">Владелец квартиры</label>
                                    {{ form.owner }}
                                </div>
                                <div class="form-group field-accounttransaction-account_id">
                                    <label class="control-label" for="accounttransaction-account_id">Лицевой
                                        счет</label>
                                    {{ form.account }}

                                    <div class="help-block"></div>
                                </div>

                                <div class="form-group field-accounttransaction-transaction_purpose_id">
                                    <label class="control-label"
                                           for="accounttransaction-transaction_purpose_id">Статья</label>
                                    {{ form.item }}

                                    <div class="help-block"></div>
                                </div>
                                <div class="form-group field-accounttransaction-amount required">
                                    <label class="control-label" for="accounttransaction-amount">Сумма</label>
                                    {{ form.amount }}

                                    <div class="help-block"></div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <input type="hidden" id="income" name="income"
                                       value="True">


                                <div class="form-group field-accounttransaction-user_admin_id">
                                    <label class="control-label" for="accounttransaction-user_admin_id">Менеджер</label>
                                    {{ form.manager }}
                                    <div class="help-block"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 text-right">
                                <div class="form-group">
                                    <a href="{% url 'transfers_list' %}" class="btn btn-default margin-bottom-15">Отменить</a>
                                    <input type="submit" class="btn btn-success margin-bottom-15" name="action_save"
                                           value="Сохранить"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group field-accounttransaction-description">
                                    <label class="control-label"
                                           for="accounttransaction-description">Комментарий</label>
                                    {{ form.comment }}

                                    <div class="help-block"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </div>

{% endblock %}

{% block script %}
    <script>
    $(document).ready(function () {
            $('#id_owner').change(function () {
                $.ajax({
                    url: '{% url 'select_owners' %}',
                    type: 'GET',
                    data: {owner_field: $(this).val()},
                    success: function (data) {
                        // Очистить выбор в другом поле
                        $('#id_account').empty()
                        // Заполнить другое поле данными, полученными с сервера
                        $("#id_account").append("<option value selected>Выберите...</option>")
                        $.each(data.accounts_data, function (key, value) {

                            $('#id_account')
                                .append($("<option value=" + value.id + ">" + value.number + "</option>"));
                        });
                    },
                    error: (data) => {
                        $('#id_account').empty()
                        $("#id_account").append("<option value selected>Выберите...</option>")
                    }

                });
            });
        });
     $('#id_date').daterangepicker({
            singleDatePicker: true,
            default: 'date',
            opens: 'center',
            autoUpdateInput: false,
            onClose: function () {
                $(this).valid();
            },
            locale: {
                format: 'DD.MM.YYYY',
                "applyLabel": "Ок",
                "cancelLabel": "Отмена",
                "fromLabel": "От",
                "toLabel": "До",
                "customRangeLabel": "Произвольный",
                "daysOfWeek": [
                    "Вс",
                    "Пн",
                    "Вт",
                    "Ср",
                    "Чт",
                    "Пт",
                    "Сб"
                ],
                "monthNames": [
                    "Январь",
                    "Февраль",
                    "Март",
                    "Апрель",
                    "Май",
                    "Июнь",
                    "Июль",
                    "Август",
                    "Сентябрь",
                    "Октябрь",
                    "Ноябрь",
                    "Декабрь"
                ],
                firstDay: 1
            }
        });
        $('#id_date').on('apply.daterangepicker', function (ev, picker) {
            $(this).val(picker.startDate.format('DD.MM.YYYY'));
        });
        $('#id_date').on('cancel.daterangepicker', function (ev, picker) {
            $(this).val('');
        });

    </script>

{% endblock %}

