{% extends 'admin/base.html'%}

{% load widget_tweaks %}


{% block content %}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>Новый тариф</h1>
            <ul class="breadcrumb">
                <li><a href="{% url 'admin' %}"><i class="fa fa-home"></i> Главная</a></li>
                <li><a href="{% url 'tariffs' %}">Тарифы</a></li>
                <li class="active">Новый тариф</li>
            </ul>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-body">
                            <form id="create_tariff" method="post">
                            {% if messages %}{% for message in messages %} <p>{{ message }}</p> {% endfor %}{% endif %}
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-xs-12 col-lg-7">
                                        <div class="form-group">
                                            <label>Название тарифа</label>
                                            {{ tariff.title|add_class:'form-control' }}
                                        </div>
                                        <div class="form-group">
                                            <label>Описание тарифа</label>
                                            {{ tariff.description|add_class:'form-control' }}
                                        </div>

                                <div id="price_form">
                                    <div class="delete-list-price"></div>
                                    {{ price_formset.management_form }}
                                    <div id="form-services_price-rows">
                                        {% for form in price_formset %}
                                        <div id="{{ form.prefix }}" class="row form-services_price">

                                            {{ form.id }}
                                            <div class="col-xs-6 col-md-4">
                                                <div class="form-group">
                                                    <label>Услуга</label>
                                                    {{ form.services|add_class:'form-control' }}
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-md-3">
                                                <div class="form-group">
                                                    <label>Цена</label>
                                                    {{ form.price|add_class:'form-control' }}
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-md-2">
                                                <div class="form-group">
                                                    <label>Валюта</label>
                                                    {{ form.currency|add_class:'form-control' }}
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-md-3">
                                                <div class="form-group">
                                                    <label>Ед. изм.</label>
                                                    <div class="input-group">
                                                        {{ form.unit|add_class:'form-control' }}
                                                        <span class="input-group-btn">
                                                            <button onclick="delete_price(this.id)" id="{{ form.prefix }}" type="button" class="btn btn-default"><i class="fa fa-trash"></i></button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}

                                    </div>

                                    <div id="empty_form-price" style="display: none;">

                                        <div id="{{ price_formset.empty_form.prefix }}" class="row form-services_price">

                                            <div class="col-xs-6 col-md-4">
                                                <div class="form-group">

                                                    <label>Услуга</label>
                                                    {{ price_formset.empty_form.services|add_class:'form-control' }}


                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-md-3">
                                                <div class="form-group">
                                                    <label>Цена</label>
                                                    {{ price_formset.empty_form.price|add_class:'form-control' }}
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-md-2">
                                                <div class="form-group">
                                                    <label>Валюта</label>
                                                    {{ price_formset.empty_form.currency|add_class:'form-control' }}
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-md-3">
                                                <div class="form-group">
                                                    <label>Ед. изм.</label>
                                                    <div class="input-group">
                                                       {{ price_formset.empty_form.unit|add_class:'form-control' }}
                                                        <span class="input-group-btn">
                                                            <button onclick="delete_price(this.id)" id="{{ price_formset.empty_form.prefix }}" type="button" class="btn btn-default"><i class="fa fa-trash"></i></button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                                <button id="add-formset" type="button" class="btn btn-default" >Добавить услугу</button>
                                            </div>
                                        </div>

                                    </div>
                                <div class="row">
                                    <div class="col-xs-12 col-lg-7 text-right">
                                        <div class="form-group">
                                            <a href="{% url 'tariffs' %}" class="btn btn-default">Отменить</a>
                                            <button type="submit" class="btn btn-success">Сохранить</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
{% block script %}
    <script>

        $('#add-formset').click(function() {
            let form_idx = $('#id_price-TOTAL_FORMS').val();
            $('#price_form').append($('#empty_form-price').html().replace(/__prefix__/g, form_idx));
            $('#id_price-TOTAL_FORMS').val(parseInt(form_idx) + 1);
        })

        function delete_price(index) {
        if (confirm('Удалить?')) {
            $('#id_' + index).val("")
            $('.delete-list-price').append('<input type="hidden" value="on" name="' + index  + '-DELETE" id="id_' + index + '-DELETE">');
            $('#' + index).css('display', 'none');
        } else {
            alert('Эта услуга используется в квитанциях. Удаление невозможно.');
            return false
        }
    }
        let form_idx = $('#id_price-TOTAL_FORMS').val();
        let firstSelect = document.querySelector('#id_price-' + form_idx + '-services');
        let secondSelect = document.querySelector('#second_select');

        firstSelect.addEventListener('change', function(e) {
        let selectedValue = e.target.value;
        let option = document.createElement('option');
        option.value = selectedValue;
        option.innerText = selectedValue;
        secondSelect.appendChild(option);
  });
        function selectServices(element) {
            var element_id = element.id.split("-").slice(0, 2).join("-") + "-unit"
                console.log(element_id)
            if (element.value) {
                $.ajax({
                    type: "GET",
                    url: "{% url 'show_unit_service' %}",
                    data: {
                        'service_id': element.value,
                    },
                    success: function (response) {
                        console.log(response.services_price[0].unit__name)
                        $("input[id=" + element_id + "]").attr('value', response.services_price[0].unit__name)
                    },
                    error: function (response) {
                        console.log(response.error)
                    }
                })
            } else {
                $("input[id=" + element_id + "]").attr('value', 'Выберите...')
            }
        }
</script>


{% endblock %}