{% extends "cabinet_base.html" %}
{% load static %}


{% block content %}
    <link href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>


    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                Сообщения </h1>

            <ul class="breadcrumb">
                <li><a href="{% url 'owner_apartment_detail' apartment_first.id %}"><i class="fa fa-home"></i>
                    Главная</a></li>
                <li class="active">Сообщения</li>
            </ul>
        </section>

        <section class="content">

            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"></h3>
                </div>
                <div class="box-body no-padding">

                    <div id="w0" class="grid-view">
                        <div class="mailbox-controls">
                            <input id="delete_all_1" type="checkbox" class="delete_all_1">
                            <button id="delete-many-1" type="button" class="delete-many"><i
                                    class="fa fa-trash-o"></i></button>
                            <div class="pull-right"></div>
                        </div>
                        <div class="table-responsive mailbox-messages">
                            <table id="InvoicesTable"
                                   class="table table-bordered table-hover table-striped linkedRow"
                                   style="width:100%">

                                <thead>
                                <tr>
                                    <th style="width: 1%"></th>
                                    <th style="width: 25%">От кого</th>
                                    <th>Текст</th>
                                    <th style="width: 10%">Дата</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for message in message_list %}
                                    <tr>

                                        <td><input type="checkbox" class="delete" value="{{ message.id }}"></td>
                                        <td href="{% url 'owner_message_detail' message.id %}">{{ message.sender }}</td>
                                        <td href="{% url 'owner_message_detail' message.id %}">{% autoescape off %}{{ message.text }}
                                            {{ message.topic }}{% endautoescape %}</td>
                                        <td href="{% url 'owner_message_detail' message.id %}">{{ message.date }}</td>

                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <div class="mailbox-controls">
                            <input id="delete_all_2" type="checkbox" class="delete_all_2">
                            <button id="delete-many-2" type="button" class="delete-many"><i
                                    class="fa fa-trash-o"></i></button>
                            <div class="pull-right"></div>
                        </div>
                    </div>
                </div>

        </section>
    </div>
{% endblock %}

{% block script %}
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script>
        $(document).ready(function () {
            // Handle click on row link
            $('#InvoicesTable tbody').on('click', 'td', function () {
                var url = $(this).attr('href');
                ;
                if (url) {
                    console.log(url)
                    window.location.href = url;
                }

            });
        });

        $(document).ready(function () {

            // Initialize DataTable
            $("#InvoicesTable").DataTable({
                "language": {
                    "sEmptyTable": "В таблице отсутствуют данные",
                    "sInfo": "Показаны записи с _START_ по _END_ из _TOTAL_ записей",
                    "sInfoEmpty": "Показаны записи с 0 по 0 из 0 записей",
                    "sInfoFiltered": "(отфильтровано из _MAX_ записей)",
                    "sInfoPostFix": "",
                    "sInfoThousands": ",",
                    "sLengthMenu": "Показать _MENU_ записей",
                    "sLoadingRecords": "Загрузка...",
                    "sProcessing": "Обработка...",
                    "sSearch": "Поиск:",
                    "sZeroRecords": "Совпадений не найдено",
                    "oPaginate": {
                        "sFirst": "Первая",
                        "sLast": "Последняя",
                        "sNext": "Следующая",
                        "sPrevious": "Предыдущая"
                    },
                    "oAria": {
                        "sSortAscending": ": активировать для сортировки столбца по возрастанию",
                        "sSortDescending": ": активировать для сортировки столбца по убыванию"
                    }
                },

                searching: true,
                ordering: true,
                info: false,

            });
        });


        $(document).ready(function () {
            // найти чекбокс, который будет управлять всеми остальными

            // find the checkboxes that will control the others
            var delete_all_1 = $('#delete_all_1');
            var delete_all_2 = $('#delete_all_2');

            // when the first checkbox is clicked
            delete_all_1.click(function () {
                // find all other checkboxes on the page
                var checkboxes = $('input[type=checkbox]:not(#delete_all_1, #delete_all_2)');

                // set their state to match the state of the first checkbox
                checkboxes.prop('checked', delete_all_1.prop('checked'));
            });

            // when the second checkbox is clicked
            delete_all_2.click(function () {
                // find all other checkboxes on the page
                var checkboxes = $('input[type=checkbox]:not(#delete_all_1, #delete_all_2)');

                // set their state to match the state of the second checkbox
                checkboxes.prop('checked', delete_all_2.prop('checked'));
            });

            $("#delete-many-1").click(function () {

                var checkboxes = $('input[type=checkbox]:checked');
                var values = checkboxes.map(function () {
                    return $(this).val();
                }).get();

                // вывести значения в консоль
                console.log(values);
                $.ajax({
                    type: 'get',
                    url: '{% url "delete_selected_messages" %}',
                    data: `${values}`,
                    success: function (response) {
                        if (response) {
                            location.reload();
                        }
                    },
                });
            });
            $("#delete-many-2").click(function () {

                var checkboxes = $('input[type=checkbox]:checked');
                var values = checkboxes.map(function () {
                    return $(this).val();
                }).get();

                // вывести значения в консоль
                console.log(values);
                $.ajax({
                    type: 'get',
                    url: '{% url "delete_selected_messages" %}',
                    data: `${values}`,
                    success: function (response) {
                        if (response) {
                            location.reload();
                        }
                    },
                });
            });
        })
        ;

    </script>
{% endblock %}

