{% extends "cabinet_base.html" %}
{% load static %}
{% block content %}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                Сводка - ЖК &quot;{{ apartment.house.name }}&quot;, кв.{{ apartment.number }} </h1>

        </section>

        <section class="content">
            <div class="row">
                <div class="col-xs-12 col-md-6 col-lg-4">
                    <div class="small-box bg-green">
                        <div class="inner">
                            <h3>{% if account.balance %} {{ account.balance }}{% else %}0,00 грн{% endif %}</h3>
                            <p>Баланс по квартире</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-money"></i>
                        </div>
                        <span class="small-box-footer">
                &nbsp;
            </span>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-4">
                    <div class="small-box bg-blue">
                        <div class="inner">
                            <h3>{% if account.number %} {{ account.number }}{% else %}Не создан{% endif %}</h3>
                            <p>Лицевой счет</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-user"></i>
                        </div>
                        <span class="small-box-footer">
                &nbsp;
            </span>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-4">
                    <div class="small-box bg-yellow">
                        <div class="inner">
                            <h3>{{ avarage }} грн</h3>
                            <p>Средний расход за месяц</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-pie-chart"></i>
                        </div>
                        <span class="small-box-footer">
                &nbsp;
            </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">

                        <div class="box-body">

                            <div class="chart" style="display: inline-block; width: 45%;">

                                <h3 id="pieChartTitle" style="text-align: center" class="box-title">Диаграмма
                                    расходов</h3>
                                {% if list_name|length >= 1 %}
                                    <canvas id="barChart"></canvas>
                                {% else %}
                                    <div id="barChart-legend" class="text-center">Недостаточно данных для отображения
                                    </div>
                                {% endif %}
                            </div>
                            <div class="chart" style="display: inline-block; width: 45%;">
                                {% if list_debts_by_month %}

                                    <canvas id="barChart1"></canvas>
                                {% else %}
                                    <h3 class="box-title" style="text-align: center">Диаграмма расходов по месяцам за
                                        год</h3>
                                    <div id="barChart-legend" class="text-center">Недостаточно данных для отображения
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </section>
    </div>


{% endblock %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>

        const data = {
            labels: [{% for i in list_name  %}'{{ i }}', {% endfor %}],
            datasets: [{
                label: 'ПОТРАЧЕННО',
                data: [{% for i in list_cost  %}{{ i }}, {% endfor %}],
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    width: 400,
                    height: 400
                },

                backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(54, 162, 235)',
                    'rgb(255, 205, 86)',
                    'rgb(51,4,14)',
                    'rgb(186,217,238)',
                    'rgb(22,245,14)',

                ],
                hoverOffset: 4
            }]
        };
        const config = {
            type: 'pie',
            data: data,
        };
        const data1 = {
            labels: ["\u044f\u043d\u0432., 2023", "\u0444\u0435\u0432\u0440., 2023", "\u043c\u0430\u0440\u0442, 2023", "\u0430\u043f\u0440., 2023", "\u043c\u0430\u0439, 2023", "\u0438\u044e\u043d\u044c, 2023", "\u0438\u044e\u043b\u044c, 2023", "\u0430\u0432\u0433., 2023", "\u0441\u0435\u043d\u0442., 2023", "\u043e\u043a\u0442., 2023", "\u043d\u043e\u044f\u0431., 2023", "\u0434\u0435\u043a., 2023"],
            datasets: [{
                label: 'ПОТРАЧЕННО',
                data: [{% for i in list_debts_by_month  %}{{ i }}, {% endfor %}],
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    width: 400,
                    height: 400
                },

                backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(54, 162, 235)',
                    'rgb(255, 205, 86)',
                    'rgb(51,4,14)',
                    'rgb(186,217,238)',
                    'rgb(22,245,14)',
                    'rgb(9,13,222)',
                    'rgb(145,96,5)',
                    'rgb(8,84,41)',
                    'rgb(248,8,192)',
                    'rgb(253,26,7)',
                    'rgb(0,141,255)',

                ],
                hoverOffset: 4
            }]
        };
        const config1 = {
            type: 'pie',
            data: data1,
        };

        ctx1 = document.getElementById('barChart1').getContext('2d');
        const myChart1 = new Chart(ctx1, config1);
        ctx = document.getElementById('barChart').getContext('2d');
        const myChart = new Chart(ctx, config);
    </script>
{% endblock %}

